body {
    background-color: #e7b3ff;
}
nav a{color: #f226b5}
nav a:hover{background-color: #fffb00;}
nav a{padding: 10px; 
    margin-bottom: 30px; }
    .copyright {float: left;}
    .quote {float: right;}
    .address {float:left; margin-right: 50px;}
    .form {display: flex; background-color: #cce5ff; border-radius: 1em; padding: 20px; margin-top: 20px;}
    .firstt {background-color: #cce5ff; padding: 20px; margin-bottom: 20px; border-radius: 1em;}
    .clear {clear:both;}
    .linkedin img{width: 70px;}
    .actual {margin-right: 50px}
nav {background-color: #f7f5a2;}
